.container {  
    background-color: #030000;
}
body{   
    background-color: 	#d1b4b446;  
}
label{
    color: aliceblue;
}
p{
    color: aliceblue;  
}
h1{
    color: aliceblue;
    text-align: center;  
}
body{
    /*padding-top:10vh;
    background-image: url('../login/img/3.png');
    background-position: cover;
    background-position-y: -150px;*/
}

body{
    background-color: #d20a00;
    height: 200h;
    padding-top:20vh;
    
}